[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group SGS Administrators
	label-Verified = -1..+1 group i777 Team
	label-Code-Review = -2..+2 group SGS Administrators
	label-Code-Review = -2..+2 group i777 Team
	submit = group SGS Administrators
	submit = group i777 Team
	create = group i777 Team
	push = group i777 Team
[project]
	state = active
